/* 	This code is for shatur.github.io. This contains 
 *	all css data.
 */

/* Imporitng fonts */
@import 'https://fonts.googleapis.com/css?family=Dancing+Script';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sla|Lato:300,400|Quicksand|Roboto:100,400,300|Roboto+Slab:400,300');

html, body {
	padding: 0;
	border: 0;
	margin: 0;
}

h2 {
	color: #29088A;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
}

h3 {
	color: #0B3861;
}

/* Relate to Index page */
.menu-options {
	color: #cc3300;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	padding: 3%;
	margin: 3%;
}

.menu-text {
	padding: 3px;
}

.footer {
	color: #737373;
	font-size: 0.8em;
	padding-bottom: 1.5em;
	font-family: 'Roboto', sans-serif;
}

.middle {
	margin: auto;
}

.text-center {
	text-align: center;
}

.nostyle:link {
    text-decoration: inherit;
    cursor: pointer;
}

.nostyle:visited {
    text-decoration: inherit;
    cursor: progress;
}

.anchor-style {
	color: #003366;
}

a {
	color: #003366;
}

a:hover {
	color: red;
}

/* Blog related CSS */
.blog-data-box {
	margin-top: 3%;
	width: 45%;
}

.blog-data-title {
	color: #170B3B;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 2.5em;
}


.blog-date {
	color: #737373;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
	padding-top: 2%;
}

.blog-data-brief {
	font-weight: 400;
	font-family: 'Roboto Slab', sans-serif;
	font-style: normal;
	color: #262626;
	font-size: 1.2em;
	padding-top: 3%;
}

.quote-style {
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}

.text-center {
	text-align: center;
}

@media screen and (max-width: 1080px) {
	/* Blog related CSS */

	.blog-box {
		margin-top: 3%;
		width: 75%;
	}

	.blog-data-box {
		margin-top: 3%;
		width: 75%;
	}

	.about-box {
		margin-top: 5%;
		width: 75%;
	}
}

.table-head {
	color: #0B2161;
}


.bd {
  margin-left: 20px;
  padding: 5px;
  color: black;
  text-decoration-style: solid
  border-color: grey;
  border-radius: 5px;
  text-align: center;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bd-btn {
  background: transparent;
  border-style: solid;
  border-color: grey;
  border-radius: 8px;
  padding: 5px;
  border-width: 1px;
  
  color: grey;
  margin: 10px;
}

.box {
  border-top: solid grey 1px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.left-side {
  width: 40%;
  padding: 5px;
}

.RIGHT-side {
  width: 60%;
  margin: auto;
  padding: 5px;
}

.bd-btn:hover {
	background: grey;
	border-color: white;
	color: white; 
}
