/* 	This code is for shatur.github.io. This contains 
 *	all css data.
 */

/* Imporitng fonts */
@import 'https://fonts.googleapis.com/css?family=Dancing+Script';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sla|Lato:300,400|Quicksand|Roboto:100,400,300|Roboto+Slab:400,300');

html, body {
	padding: 0;
	border: 0;
	margin: 0;
}

/* Relate to Index page */

.main-div {
	width: 60%;
	text-align: center;
	vertical-align: middle;
}

.middle {
	margin: auto;
}

.text-center {
	text-align: center;
}

.logo {
	margin-top: 9%;
	width: 8em;
}

.author-name {
	margin-top: 4%;
	font-size: 3em;
	font-family: 'Roboto Slab', sans-serif;
}

.tag-head {
	font-size: 1.2em;
	margin: 1%;
	font-family: 'Open Sans', sans-serif;
}

.tag {
	color: #737373;
	margin: 1%;
	font-family: 'Open Sans', sans-serif;
}

.links {
	margin-top: 3%;
}

.img-size {
	width: 1.6em;
}

.menu-options {
	color: #cc3300;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	padding: 3%;
	margin: 3%;
}

.menu-text {
	padding: 3px;
}

.footer {
	color: #737373;
	font-size: 0.8em;
	padding-bottom: 1.5em;
	font-family: 'Roboto', sans-serif;
}

.nostyle:link {
    text-decoration: inherit;
    cursor: pointer;
}

.nostyle:visited {
    text-decoration: inherit;
    cursor: progress;
}

.anchor-style {
	color: #003366;
}

a {
	color: #003366;
}

a:hover {
	color: red;
}
/* Relate to about page */
.about-box {
	margin-top: 5%;
	width: 38%;
}

.about-main {
	text-align: left;
	margin-bottom: 4%;
	font-size: 2.6em;
	font-family: 'Lato', sans-serif;
}

.about-text {
	text-align: left;
	color: #737373;
	font-family: 'Josefin Slab', sans-serif;
	text-align: justify;
}

/* Relate to blog-listing page */

.blog-box {
	margin-top: 3%;
	width: 35%;
}

.blog-title {
	color: #003366;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 2em;
	padding-top: 1%;
}

.blog-date {
	color: #737373;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
	padding-top: 2%;
}

.blog-description {
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	padding-top: 2%;
}

.top-padd {
	padding-bottom: 5%;
}

/* Blog related CSS */
.blog-data-box {
	margin-top: 3%;
	width: 45%;
}

.blog-data-title {
	color: #003366;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 2.5em;
}

.blog-data-brief {
	font-weight: 400;
	font-family: 'Roboto Slab', sans-serif;
	font-style: normal;
	color: #262626;
	font-size: 1.2em;
	padding-top: 3%;
}

.quote-style {
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}

.text-center {
	text-align: center;
}

@media screen and (max-width: 1080px) {
	/* Blog related CSS */

	.blog-box {
		margin-top: 3%;
		width: 75%;
	}

	.blog-data-box {
		margin-top: 3%;
		width: 75%;
	}

	.about-box {
		margin-top: 5%;
		width: 75%;
	}
}